<html>
    <%- include('./partials/head.ejs')  %> 
    <body>
        
        <%- include('./partials/nav.ejs')  %> 

        <div class="not-found content">
            <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7898.jpg" alt="">
            
        </div>
        <%- include('./partials/footer.ejs')  %> 
    </body>
</html>