<html>
    <%- include('./partials/head.ejs')  %> 
    <body>
        
        <%- include('./partials/nav.ejs')  %> 

        <div class="about content">
            <h2>About Us</h2>
            <p>My name is Varun Sharma.</p>
            <p>I am passionate about building fast, scalable, and efficient web applications using modern technologies. </p>
            <p>Let's build something amazing together!</p>
            <p>I enjoy transforming ideas into interactive, user-friendly web applications that make a difference. Let's collaborate and create something extraordinary!</p>
            <div class="Contact">
                <a target="_blank" href="mailto:varunshx@gnail.com">Contact me!</a>
            </div>
            
        </div>
        <%- include('./partials/footer.ejs')  %> 
    </body>
</html>